/*

COMMON STYLES

*/

a {
	font-family: 'Roboto Slab', serif !important;
}

/*

LEFT FOLD

*/

div.bgWrapper {
	background-color: #2c3e50;
	width: 25%;
	height: 100vh;
	position: absolute;
}

div.leftContent {
	padding-top: 2%;
}

p.description {
	color: #FFF;
	font-family: "lato",sans-serif;
	font-weight: 300;
	margin-bottom: 2.125rem;
}

div.stationary {
	color: #FFF;
	font-family: "lato",sans-serif;
	font-weight: 500;
}

img {
	margin-bottom: 30px;
}

div.reminder {
	float: left !important;
}

span.emailNumber {
	margin-left: 12rem;
	border: 1px solid #e74c3c;
	border-radius: 50%;
	padding: 5px 14px;
	color: #FFF;
}

ul.linkList {
	color: #FFF;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
}

li.top {
	border-left: 10px solid #e74c3c;
	padding-left: 20px;
	font-weight: 700;
}

div.centerFold {
	float: left !important;
}

div.emailList {
	margin-top: 3rem;
}

div.userImage {
	background-color: #2c3e50;
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

svg.reply {
	height: 31px;
	width: 36px;
}

svg.replyReminder {
	height: 31px;
	width: 36px;
}

li {
	list-style: none;
	margin-bottom: 20px;
}

a.composeBtn {
	margin-top: 30px;
	margin-bottom: 40px;
	border-radius: 10px;
	background-color: #e74c3c;
	width: 250px;
	font-weight: 700;
	font-size: 20px;
}

a.composeBtn:hover, a.composeBtn:active {
	background-color: #e74c3c;
}

div.stroke {
	border-right: 2px solid #cdcdcd;
	height: 80vh;
	float: right;
}

ul.listTitle {
	margin-bottom: 0;
}

li.pageTitle {
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	margin-left: 0;
}

li.userName {
	margin-top: 18px;
	margin-left: 15rem;
	display: flex;
}

span.signedIn {
	margin-right: 7px;
	margin-top: 7px;
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
}

li.userName > a {
	font-family: "lato",sans-serif;
	font-weight: 700;
	font-size: 18px;
}

div.subTitle {
	font-family: 'Roboto Slab', serif;
	border-bottom: 1px solid #cdcdcd;
}

#emails_list {
	padding-left: 0;
}

p.subject {
	font-family: "lato",sans-serif;
	font-weight: 700;
	font-size: 20px;
}

/*

RIGHT FOLD

*/

p.emailSubject {
	font-family: "lato",sans-serif;
	font-weight: 700;
	font-size: 25px;
}

ul.timeList {
	font-family: "lato",sans-serif;
	font-weight: 300;
}

li.emailAddress {
	margin-left: 0;
	display: flex;
}

li.emailAddress > a {
	margin-left: 5px;
}

li.time {
	margin-left: 2rem;
}

div.replyField {
	padding-left: 0px;
}

textarea.input {
	border-radius: 10px;
	border: 1px solid #cdcdcd;
	height: 100px;
}

a.sendBtn {
	border-radius: 10px;
	background-color: #e74c3c;
	font-size: 18px !important;
	font-weight: 700;
}

a.sendBtn:hover {
	background-color: #e74c3c;
}

a.draftBtn {
	margin-left: 1rem;
	color: #e74c3c;
}

/*

Set Reminder Modal

*/

#remindModal {
	width: 20%;
	padding-top: 3.125rem;
}

a.remindBtn {
	border-radius: 10px;
	background-color: #e74c3c !important;
	color: #FFF !important;
}

input.userTime {
	margin-top: 30px;
	margin-bottom: 30px;
}

#thanksModal {
	width: 20%;
	padding: 3.125rem;
}

#addModal {
	width: 50%;
}

ul.reminderType {
	margin-left: 0;
}

ul.reminderType > li {
	display: inline-flex;
}

ul.reminderType > li:nth-child(3) {
	margin-left: 30px;
}

ul.reminderType > li:nth-child(4) {
	margin-left: 30px;
}

ul.reminderType > li > span {
	margin-right: 15px;
}

#reminder-icon {
	height: 30px;
	width: 30px;
}

#meeting-icon {
	height: 30px;
	width: 30px;
}

#flight-icon {
	height: 30px;
	width: 30px;
}
/*

REMINDER PAGE

*/

a.addBtn {
	margin-top: 30px;
	margin-bottom: 40px;
	border-radius: 10px;
	background-color: #6cbddd;
	width: 250px;
	font-weight: 700;
	font-size: 20px;
}

a.addBtn:hover, a.addBtn:active {
	background-color: #6cbddd;
}


li.reminderTop {
	border-left: 10px solid #6cbddd;
	padding-left: 20px;
}

span.reminderNumber {
	margin-left: 12rem;
	border: 1px solid #6cbddd;
	border-radius: 50%;
	padding: 5px 13px;
	color: #FFF;
}

.time {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 18px;
}

.timeColor {
	color: #e74c3c;
	font-size: 20px;
}

div.reminderList {
	margin-top: 3rem;
}

#doneIcon {
	height: 30px;
	width: 30px;
}

p.reminderTitle {
	font-family: "lato",sans-serif;
	font-weight: 700;
	font-size: 25px;
}

p.start, p.location, p.reminder {
	font-family: "lato",sans-serif;
	font-weight: 700;
	font-size: 18px;
}

span.address {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}

a.editBtn {
	border-radius: 10px;
	font-size: 18px !important;
	font-weight: 700;
	background-color: #6cbddd;
	margin-top: 30px;
}

a.editBtn:hover {
	background-color: #6cbddd;
}

a.doneBtn {
	margin-left: 1rem;
	color: #6cbddd;
	margin-top: 10px;
}

div.btnRow {
	display: inline-flex;
}

div.btnRow > svg {
	margin-left: 20px;
	margin-top: 6px;
}